/************************************** SETUP **************************************/

:root {
--font-primary: 'Inter', sans-serif;
--font-secondary: "Comfortaa", serif;
--color-primary: #333;
--color-secondary: #FF3C00;
--color-3: #FF7400;
--text-color: #333;
}
  
/*** Reset - Setup ***/

* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

html {
font-size: 16px; 
scroll-behavior: smooth;  
height: 100%;
background-color: transparent;
}
  
/*** Element Styles - Setup ***/

body {
font-family: var(--font-primary);
color: var(--text-color);  
background-color: #FAFAFA;
max-width: 100vw;
}

a {
color: var(--text-color);
text-decoration: none;
cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
font-family: var(--font-secondary); 
margin-bottom: 1rem;
}

hr {
opacity: .4;
}

button {
border: none;
cursor: pointer;
}

span {
display: flex;
align-items: center;
gap: 5px;
}

ul {
list-style-type: disc; 
margin-left: 20px; 
}

/*** Utility Classes - Setup ***/

.text-center {
    text-align: center;
}

.text-bold {
    font-weight: bold;
}

.hidden {
    display: none;
}

.h-1 {
    height: 1rem;
} 

.h-2 {
    height: 2rem;
}

.indent {
text-indent: 50px;
}

/*********************************** GLOBAL STYLES *********************************/

/*** Header - Global ***/

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 2rem 1rem;
  height: auto;
}

header span {
    align-items: flex-start;
}

.branding-nav-flex {
    display: flex;
    align-items: center;
}

.branding {
    z-index: 2;
}

.branding a {
    text-decoration: none;
    position: relative;
}

.logo {
    position: relative;
}

.logo.fixed {
    position: fixed;
}

.logo-img {
    width: 31px;
    -webkit-user-drag: none; /* For Safari */
    pointer-events: none; /* For other browsers */
    user-select: none;
}

.logo-text {
    font-family: var(--font-secondary);
    font-size: 2rem;
    font-weight: 500;
    color: var(--color-secondary);
    user-select: none;
}

.nav {
    display: none;
}

#menu-button {
    font-size: 2.2rem;
    cursor: pointer;  
    opacity: 0.8;
}

#menu {
  width: 75%;
  background-color: #F3F0F0;
  position: fixed;
  top: 0;
  left: -100%; /* Initially hidden */
  overflow-y: auto;
  -webkit-overflow-scrolling: touch; /* Smooth scrolling for mobile */
  height: 100%;
  transition: left 0.75s ease; /* Smooth transition */
  border-radius: 0px 5px 5px 0;
  z-index: 1;
  padding: 7rem 0 0 2rem
}

.menu-item {
    font-size: 1.1rem;
    font-weight: 500;
    display: block;
    margin-bottom: 2.5rem;
}

#menu.visible {
    left: 0;
}

#menu-button {
    font-size: 2.2rem;
    cursor: pointer;  
    opacity: 0.9;
}

/* Header - Global - Mobile Landscape */

@media screen and (max-height: 500px) and (orientation: landscape) {
    #menu {
        padding-left: 8vw;
    }

    header {
        padding: 2rem 8vw 1rem;
      }
}

/*** Header - Global - Desktop 1024 ***/

@media (min-width: 1024px) {
    header {
        padding: 1.5rem 0;
        width: 85%;
        margin: auto;
    }
        
    .logo-img {
        width: 34px;
    }

    .logo-text {
        font-size: 2.1rem;
    }
        
    .nav {
        display: block;
    }

    .nav-item {
        padding-left: 3rem;
        font-size: 1.1rem;
        font-weight: 500;
    }

    .nav-item:hover {
        text-decoration: underline;
    }

    .nav-item-last {
        border: 1px solid rgba(34, 34, 34, 0.8);
        padding: 10px;
        border-radius: 10px;
        transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
        font-weight: 500;
    }

    .nav-item-last:hover {
        background-color: rgba(34, 34, 34, 0.8);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        color: white;
    }    

    #menu-button {
        display: none;
    }
}
    
/*** Footer - Global ***/

footer {
    height: 10rem;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    padding: 2rem 0;
  }
  
.footer-title {
    margin-bottom: 1rem;

}

.footer-item {
    margin: 0 0 12px 0;
    font-size: 12px;
}

/*** Footer - Global - Desktop 1024 ***/

@media (min-width: 1024px) {
    .footer-title {
        font-size: 1.1rem;
    }
    
    .footer-item {
        font-size: 14px;
    }
}

/******************************** INDEX.HTML STYLES *****************************/

/* Intro Section - Index.html */

.mobile-background {
    background-image: url('./images/background.webp'), url('./images/background.png');
    background-size: contain;
    background-position: 50% 90%;
    background-repeat: no-repeat;
}

.hero {
    height: calc(100vh - 83.5px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 2rem 7rem;
}

.hero h1 {
    font-size: 2.5rem;
    font-weight: 600;
    padding-right: 2rem;
}

.hero p {
    font-size: 1.4rem;
    font-weight: 300;
    margin-bottom: 1.5rem;
}

.hero button {
    font-family: var(--font-primary);
    color: white;
    font-size: 1.1rem;
    background: linear-gradient(180deg, rgba(225, 117, 2, 0.9), rgba(237, 57, 25, 0.9));
    width: 100%;
    transition: filter 0.2s ease-in-out;
    padding: 1.1rem;
    border-radius: 1rem;
    font-weight: 300;
    transition: box-shadow 0.3s ease;
}

.hero button:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
}

.wireframe-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

#tablet-frame {
    width: 200px;
}

#mobile-frame {
    width: 100px;
}

.tablet-frame-div {
    width: 130px;
}

.mobile-frame-div {
    width: 100px;
}

.features {
    display: flex;
    flex-direction: column;
    gap: 0;
    padding: 4rem 0 3rem 1rem;
}

.features-item {
    height: 10rem;
    width: 100%;
    position: relative;
}

.features-item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 30%;
    height: 2px;
    background-color: #f4977b;
}

.features-icon, .features-title, .features-description {
    position: absolute;
}

.features-icon {
    width: 60px;
    object-fit: cover;
    top: 2rem;
    left: 0;
}

.features-title {
    top: 2.5rem;
    left: 5.5rem;
    font-family: var(--font-primary);
    font-size: 1.1rem;
    font-weight: 600;
}

.features-description {
    top: 5rem;
    left: 5.5rem;
    padding-right: 1rem;
    font-family: var(--font-primary);
}

/* Intro Section - Index.html - Mobile Landscape */

@media screen and (max-height: 500px) and (orientation: landscape) {
    .mobile-background {
        background-size: cover;
        background-position: 50% 60%;
    }

    .hero {
        padding: 8rem 5vw;
        text-align: center;
    }

    .hero h1 {
        padding: 0;
    }

    .hero button {
        width: 50vw;
        margin: auto;
    }

    .wireframe-flex {
        margin-top: 3rem;
    }

    .features {
        padding: 4rem 5vw 3rem;
    }
}

/* Intro Section - Index.html - Desktop 1024 */

@media (min-width: 1024px) {

    .mobile-background {
        background-image: none;
    }

    .desktop-background {
        background-image: url('./images/background.webp'), url('./images/background.png');
        background-size: cover;
        background-repeat: no-repeat;
    }
    
    .intro-section {
        min-height: calc(100vh - 85.5px);
        padding: 6rem 0 3rem;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .hero-wireframe-flex {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        gap: 3rem  7rem;
        flex-wrap: wrap;
        width: 85%;
        margin: 0 auto 5rem;
    }

    .hero {
        height: auto;
        display: flex;
        align-items: center;
        padding: 3rem 0;
    }
    
    .hero h1 {
        font-size: 3rem;
        font-weight: 700;
        text-align: center;
    }
    
    .hero p {
        width: 30rem;
        font-size: 1.8rem;
        text-align: center;
    }
    
    .hero button {
        padding: 1rem 5rem;
        width: auto;
    }

    #tablet-frame {
        width: 220px;
    }
    
    #mobile-frame {
        width: 110px;
    }
    
    .tablet-frame-div {
        width: 140px;
    }
    
    .mobile-frame-div {
        width: 110px;
    }

    .features-item {
        width: 24rem;
        background-color: rgba(255, 255, 255, 0.6);
    }

    .features-item::before {
        height: 0px;
    }

    .features {
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        padding: 0 3rem;
        margin: 0 auto;
        width: 85%;
    }

    .features-title {
        font-weight: 600;
        font-size: 1.5rem
    }

    .features-description {
        font-weight: 350;
    }

}

/* Image Section - Index.html */

.image-section {
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 96%, 0 100%);
}

.care-image-mobile {
    width: 100%;
    display: block;
    margin: auto;
}

.image-section-text {
    font-size: clamp(11px, 2.5vw, 1.3rem); /* Dynamically scale font size */
    background-color: rgba(0, 0, 0, 0.3);
    color: #FFFFFF;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 2rem 1rem;
    width: 40%;
    line-height: 1.5;
    font-weight: 300;
    display: flex; 
    flex-direction: column;
    justify-content: center; 
}

.image-section-text a {
    color: #FFFFFF;
    text-decoration: underline;
    font-size: 1.1em; /* Slightly increase font size for the link */
}

/* Image Section - Index.html - Mobile Landscape */

@media screen and (max-height: 500px) and (orientation: landscape) {
    .image-section-text {
        left: 5vw;
    }
}

/* Image Section - Index.html - Desktop 1024 */

@media (min-width: 1024px) {
    
    .care-image-mobile {
        display: none;
    }
    
    .care-image {
        width: 100%;
        display: block;
        margin: auto;
    }
    
    .image-section-text {
        font-size: clamp(1.3rem, 2vw, 1.5rem);
        left: 10%;
        padding: 4rem 2rem;
        width: 30%;
    }
}

/* FAQ Section - Index.html */

.faq-section {
    padding: 6rem 1rem 5rem;
    background-color: rgba(255, 166, 0, 0.066);
    clip-path: polygon(0 4%, 100% 9%, 100% 100%, 0 100%);
}
  
.faq-header {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 2rem;
    font-weight: 500;
}

.question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 0.5rem ;
    cursor: pointer;
}

.question p {
    margin-bottom: 0;
    font-weight: 500;
}

.faq-toggle {
    font-size: 1.2rem;
}

.answer {
    font-weight: 300;
    display: none;
    padding: 0 0.5rem 1rem 0.5rem;
    line-height: 1.5;
}

.fa-plus, .fa-minus {
    font-size: 12px;
}

.faq-email {
    text-decoration: underline;
}

/* FAQ Section - Index.html - Mobile Landscape */

@media screen and (max-height: 500px) and (orientation: landscape) {
    .faq-section {
        padding: 6rem 10vw 5rem;
    }
}

/* FAQ Section - Index.html - Desktop 1024 */

@media (min-width: 1024px) {

    .faq-section {
        width: 100%;
        margin: auto;
        padding: 10rem 20% 5rem;
        font-size: 1.1rem;
        clip-path: polygon(0 8%, 100% 16%, 100% 100%, 0 100%);
    }

}  


/**************************************** POLICY.HTML STYLES **********************************************/

/* Policy Section - Policy.html */

.policy-section {
    padding: 5rem 2rem;
}

.policy-section h1 {
    font-size: 2rem;
    margin-bottom: 2rem;
}

.policy-header {
    margin-bottom: 1rem;
    font-weight: 500;
}

.policy-text {
    font-weight: 300;
    margin-bottom: 1rem;
    line-height: 1.5;
}

.policy-email {
    text-decoration: underline;
}

/* Policy Section - Policy.html - Mobile Landscape */

@media screen and (max-height: 500px) and (orientation: landscape) {
    .policy-section {
        padding: 5rem 12vw;
    }
    
    .policy-section h1 {
        text-align: center;
    }
}

/* Policy Section - Policy.html - Desktop 1024 */

@media (min-width: 1024px) {

.policy-section {
    width: 60rem;
    margin: auto;
}

.policy-section h1 {
    text-align: center;
}

.policy-text {
    line-height: 2.0;
}
}


/************************************** ABOUT.HTML STYLES ****************************************/

/* About Section - About.html */

.about-section {
    padding: 5rem 2rem;
}

.about-section-header {
    font-size: 2rem;
    margin-bottom: 2rem;
}

.our-story-text {
    font-weight: 300;
    line-height: 1.5;
}

.our-team-section {
    margin-top: 5rem;
}

.team-member {
    text-align: center;
    padding: 1rem 0;
    margin: 0 auto;
}

.team-member-flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 0 2rem;
    
}

.avatar {
    height: 130px;
    width: 130px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin: auto;
}

.name {
    padding-top: 1rem;
    font-weight: 500;
}

.creds {
    width: 130px;
    font-weight: 300;
    margin-top: 5px;
    font-size: 0.8em;
    margin: auto;
}

/* About Section - About.html - Mobile Landscape */

@media screen and (max-height: 500px) and (orientation: landscape) {
    .about-section {
        padding: 5rem 12vw;
    }

    .about-section-header {
        text-align: center;
    }

    .our-story-text {
        line-height: 2.0;
        font-size: 1.1rem;
    }
}

/* About Section - About.html - Desktop 1024 */

@media (min-width: 1024px) {

    .about-section-header {
        text-align: center;
    }

    .our-story-text {
        width: 60rem;
        margin: auto;
        line-height: 2.0;
        font-size: 1.2rem;
    }

    .our-team-section h1 {
        margin-bottom: 3rem;
    }

    .team-member-flex {
        justify-content: center;
        width: 80%;
        margin: auto;
        gap: 0 4rem;
    }

    .avatar {
        height: 200px;
        width: 200px;
    }
}


/***************************************  DEMO.HTML STYLES *************************************************/

/* Form Section - Demo.html */

.demo {
    margin: 0 auto;
    padding: 5rem 2rem;
}

.demo h1 {
    font-size: 2rem;
}

.demo-subtitle {
    font-size: 1.2rem;
    color: #555;
    margin-bottom: 3rem;
}

.demo label {
    font-size: 14px;
    margin-bottom: 5px;
    color: #333;
    display: block;
}

.demo input,
.demo select {
    width: 100%;
    padding: 1rem;
    margin-bottom: 1.5rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
    color: #333;
    box-sizing: border-box;
    -webkit-appearance: none; /* For iOS */
    -moz-appearance: none; /* For Firefox */
    appearance: none; /* For other browsers */
    background-color: white; /* Optional: Ensures consistent background color */
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 16px;
}


.demo select {/* Custom arrow added for select element */
    background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20d%3D%22M7%2010l5%205%205-5H7z%22%2F%3E%3C%2Fsvg%3E'); /* Down arrow */
    cursor: pointer;
}

.demo input:focus,
.demo select:focus {
    border-color: var(--color-3);
    outline: none;
}

.demo button {
    padding: 0.6rem 3rem;
    font-size: 16px;
    background: linear-gradient(180deg, rgba(225, 117, 2, 0.9), rgba(237, 57, 25, 0.9));
    border-radius: 1rem;
    color: #FFFFFF;
    display: block;
    margin: 1rem auto;
    transition: box-shadow 0.3s ease;
}

.demo button:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
}

.demo .terms {
    text-align: center;
    font-size: 12px;
    color: #666;
    margin-top: 1.5rem;
}

.demo .terms a {
    text-decoration: none;
}

.demo .terms a:hover {
    text-decoration: underline;
}

.demo-flex-item {
    position: relative;
}

input.error {
    border: 1px solid var(--color-secondary);
}

select.error {
    background-color: #ffebe6; /* Optional: Highlight the background */
  }

.error-message {
    display: none;
    color: var(--color-secondary);
    position: absolute;
    top: 78px;
    left: 20px;
    font-size: 12px;
}

/* Form Section - Demo.html - Mobile Landscape */

@media screen and (max-height: 500px) and (orientation: landscape) {
    .demo {
        padding: 5rem 20vw;
    }

    .demo h1, .demo-subtitle {
        text-align: center;
    }
}

/* Form Section - Demo.HTML - Desktop 1024 */

@media (min-width: 1024px) {

    .demo {
        max-width: 50rem;
        border-radius: 30px;
        margin: 0 auto;
        padding: 3rem 2rem;
        margin: 2rem auto 4rem auto;
    }

    .demo h1, .demo-subtitle {
        text-align: center;
    }

    .demo-form-flex {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 0rem 1rem;
        max-width: 45rem;
        margin: auto;
        padding: 1rem;
    }

    .demo-flex-item {
        flex: 1 1 calc(50% - 1rem); /* Flex-basis for half-width items */
        display: flex;
        flex-direction: column;
        gap: 0.5rem; 
    }

    .demo-flex-item.full-width {
        flex: 1 1 100%; /* Full-width elements */
    }

    .demo input, .demo select {
        width: 100%;
    }

    .full-width {
        width: 100%;
    }

    .error-message {
        font-size: 14px;
        top: 84px;
    }
}