/*** SETUP ***/

:root {
    --font-primary: 'Inter', sans-serif;
    --font-secondary: "Comfortaa", serif;
    --color-primary: #333;
    --color-secondary: #FF3C00;
    --color-3: #FF7400;
    --text-color: #333;
  }
  
/* Reset - Setup */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
    
  html {
    font-size: 16px; 
    scroll-behavior: smooth;  
    height: 100%;
  }
  
/* Element Styles - Setup */
  body {
    font-family: var(--font-primary);
    color: var(--text-color);  
    background-color: #FAFAFA;
    max-width: 100vw;
  }
    
  a {
    color: var(--text-color);
    text-decoration: none;
    cursor: pointer;
  }
    
  a:hover {
    text-decoration: underline;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-secondary); 
    margin-bottom: 1rem;
  }
  
  hr {
    opacity: .4;
  }
  
  button {
    border: none;
    border-radius: 20px;
    cursor: pointer;
    padding: 0.5rem 1rem;
  }
  
  span {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  ul {
    list-style-type: disc; 
    margin-left: 20px; 
}

  
/* Utility Classes - Setup */
  .text-center {
      text-align: center;
    }
    
  .text-bold {
      font-weight: bold;
    }
    
  .hidden {
      display: none;
    }
    
  .h-1 {
        height: 1rem;
    } 
  
  .h-2 {
      height: 2rem;
    }

  .indent {
    text-indent: 50px;
  }

/*** GLOBAL STYLES ***/

/* Header - Global */

header {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  height: 108px;
}

.logo {
    width: 40px;
    z-index: 2;
    position: relative;
}

.logo.fixed {
    position: fixed;
}

.nav {
    display: none;
}

.fa-bars {
  font-size: 2rem;
  cursor: pointer;
  margin-left: 2rem;
}

/* Menu - Global */

#menu-button {
  cursor: pointer;
}

#menu {
  width: 75%;
  background-color: #F3F0F0;
  position: fixed;
  top: 0;
  left: -100%; /* Initially hidden */
  overflow-y: auto;
  -webkit-overflow-scrolling: touch; /* Smooth scrolling for mobile */
  height: 100%;
  transition: left 0.75s ease; /* Smooth transition */
  border-radius: 0px 5px 5px 0;
  z-index: 1;
  padding-top: 10rem;
  padding: 8rem 0 0 2rem
}

.menu-item {
    font-size: 1.1rem;
    display: block;
    margin-bottom: 2.5rem;
}

#menu.visible {
  left: 0; /* Slides into frame */
}

/* Footer - Global */

footer {
    height: 10rem;
    width: 100%;
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-evenly;
    padding: 2rem 0;
  }
  
  .footer-header {
      margin-bottom: 1rem;
  }
  .footer-item {
      margin: 0 0 12px 0;
      font-size: 12px;
  }

/*** INDEX.HTML STYLES ***/

/* Hero Section - Index.html */

.hero-section {
    padding: 1rem 2rem;
}

.hero-header {
    font-size: 3rem;
    color: var(--color-secondary);
}

.hero-section p {
    font-size: 1.5rem;
    margin-bottom: 3rem;
}

.hero-section button {
    font-size: 1.1rem;
    background: linear-gradient(var(--color-3), var(--color-secondary));
    color: #FFFFFF;
}

.fa-diagram-project {
    font-size: 2rem;
    display: block;
    text-align: center;
    margin-top: 2rem;
    color: rgba(0, 0, 0, 0.8);
}

/* Features Section - Index.html */
.features-flex {
    display: flex;
    justify-content: center;
    padding: 3rem 2rem;
}

.features-section {
    line-height: 2.0;
}

/* Photo Section - Index.html */

.photo-section {
    position: relative;
}

.care-image-mobile {
    width: 100%;
    display: block;
    margin: auto;
}

.photo-section-text {
    font-size: clamp(12px, 2vw, 20px); /* Dynamically scale font size */
    background-color: rgba(0, 0, 0, 0.3);
    color: #FFFFFF;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 2rem 1rem;
    width: 40%;
    line-height: 1.5;
    font-weight: 300;
    display: flex; /* Use flexbox for content alignment */
    flex-direction: column;
    justify-content: center; /* Center text vertically */
}

.photo-section-text a {
    color: #FFFFFF;
    text-decoration: underline;
    font-size: 1.1em; /* Slightly increase font size for the link */
}


/* FAQ Section - Index.html */

.faq-section {
    padding: 3rem 1rem;
    margin-bottom: 3rem;
}
  
.faq-header {
    font-size: 1.3rem;
    text-align: center;
    margin-bottom: 2rem;
    font-weight: 500;
}

.question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 0.5rem ;
    cursor: pointer;
}

.question p {
    margin-bottom: 0;
    font-weight: 500;
}

.faq-toggle {
    font-size: 1.2rem;
}

.answer {
    font-weight: 300;
    display: none;
    padding: 0 0.5rem 1rem 0.5rem;
    line-height: 1.5;
}

.fa-plus, .fa-minus {
    font-size: 12px;
}

.faq-email {
    text-decoration: underline;
}

/*** POLICY.HTML STYLES ***/

/* Policy Section - Policy.html */

.policy-section {
    padding: 1rem 2rem 5rem 2rem;
}

.policy-section h1 {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 2rem;
}

.policy-header {
    margin-bottom: 1rem;
    font-weight: 500;
    padding-top: 1rem;
}

.policy-text {
    font-weight: 300;
    margin-bottom: 1rem;
    line-height: 1.5;
}

.policy-email {
    text-decoration: underline;
}

/*** ABOUT.HTML STYLES ***/

.about-section-header {
    text-align: center;
    font-size: 1.5rem;
}

/* Our Story Section - About.html */

.our-story-section {
    padding: 1rem 0 3rem 0;
}

.our-story-text {
    padding: 1rem 2rem;
    line-height: 1.5;
    font-weight: 300;
}

/* Our Team Section - About.html */

.our-team-section {
    padding-bottom: 3rem;
}

.team-member {
    text-align: center;
    padding: 1rem 0;
}

.team-member-flex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
    gap: 1rem;
    padding: 1rem;
}

.avatar {
    height: 150px;
    width: 150px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin: auto;
}

.name {
    padding-top: 1rem;
    font-weight: 500;
}

.title {
    font-weight: 300;
    margin-top: 5px;
    font-size: 0.8em;
}


/***  DEMO.HTML STYLES ***/

/* Form Section */

.demo {
    margin: 0 auto;
    padding: 2rem 2rem 3rem 2rem;
}

.demo h1 {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.demo p {
    text-align: center;
    font-size: 1rem;
    color: #555;
    margin-bottom: 3rem;
}

.demo label {
    font-size: 14px;
    margin-bottom: 5px;
    color: #333;
    display: block;
}

.demo input,
.demo select {
    width: 100%;
    padding: 1rem;
    margin-bottom: 1.5rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
    color: #333;
    box-sizing: border-box;
    -webkit-appearance: none; /* For iOS */
    -moz-appearance: none; /* For Firefox */
    appearance: none; /* For other browsers */
    background-color: white; /* Optional: Ensures consistent background color */
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 16px;
}


.demo select {/* Custom arrow added for select element */
    background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20d%3D%22M7%2010l5%205%205-5H7z%22%2F%3E%3C%2Fsvg%3E'); /* Down arrow */
}

.demo input:focus,
.demo select:focus {
    border-color: var(--color-3);
    outline: none;
}

.demo button {
    padding: 0.5rem 3rem;
    font-size: 16px;
    background: linear-gradient(var(--color-3), var(--color-secondary));
    color: #FFFFFF;
    display: block;
    margin: 1rem auto;
}

.demo .terms {
    text-align: center;
    font-size: 12px;
    color: #666;
    margin-top: 1.5rem;
}

.demo .terms a {
    text-decoration: none;
}

.demo .terms a:hover {
    text-decoration: underline;
}

  
/***  MEDIA QUERIES - GLOBAL ***/

@media (min-width: 1024px) {

/* Header - Global - Desktop 1024 */

header {
    padding: 3rem 0;
    width: 90%;
    margin: auto;
  }
  
  .logo {
      width: 45px;
  }
  
  .nav {
      display: block;
  }
  
  .nav-item {
      padding: 0 1.5rem;
      font-size: 1.1rem;
  }
  
/* Menu - Gloabl - Desktop 1024 */ 
  
  #menu-button {
      display: none;
    }

/* Footer - Global - Desktop 1024 */

.footer-header {
    font-size: 1.1rem;
}

.footer-item {
    font-size: 14px;
}
}

/* MEDIA QUERIES - INDEX.HTML */

@media (min-width: 1024px) {

/* Hero Section - Index.html - Desktop 1024 */

.hero-features-flex {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
    margin: auto;
    padding: 7rem 0;
}  

.center {
    margin-right: 1rem;
}

.hero-header {
    font-size: 3.5rem;
}

.hero-section p {
    width: 20rem;
    margin: 1rem auto 3rem auto;
    font-size: 1.8rem;
}

.fa-diagram-project {
    font-size: 5rem;
    display: block;
    margin-top: 0;
}

/* Features Section - Index.html - Desktop 1024 */

.features-section {
    font-size: 1.2rem;
}

/* Photo Section - Index.html - Desktop 1024 */

.care-image-mobile {
    display: none;
}

.care-image {
    width: 90%;
    display: block;
    margin: auto;
}

.photo-section p {
    top: 0;
    left: 10%;
    bottom: 0;
    padding: 4rem 2rem;
    width: 30%;
}

/* FAQ Section - Index.html -Desktop 1024 */

.faq-section {
    max-width: 950px;
    padding: 7rem 0;
    margin: auto;
    font-size: 1.1rem;
}

.faq-header {
    margin-bottom: 3rem;
    font-size: 1.5rem;
}

}  

/* MEDIA QUERIES - POLICY.HTML */

@media (min-width: 1024px) {

/* Policy Section - Policy.html - Desktop 1024 */

.policy-section {
    width: 60%;
    min-width: 50rem;
    max-width: 70rem;
    margin: auto;
    padding-top: 5rem;
}

.policy-section h1 {
    margin-bottom: 3rem;
}

.policy-text {
    line-height: 2.0;
}
}

/* MEDIA QUERIES - ABOUT.HTML */

@media (min-width: 1024px) {

/* Our Story Section - Desktop 1024 */    

.our-story-section {
    padding: 5rem 0;
}

.our-story-text {
    width: 50rem;
    margin: auto;
    line-height: 2.0;
    font-size: 1.2rem;
}

/* Our Team Section - Desktop 1024 */

.our-team-section {
    padding-bottom: 7rem;
}

.team-member-flex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
}

.team-member {
    padding: 2rem;
}

.avatar {
    height: 200px;
    width: 200px;
}
}

/* MEDIA QUERIES - DEMO.HTML */

/* Form Section - Demo.HTML */

@media (min-width: 1024px) {

.demo {
    padding-top: 4rem;
}

.demo-form-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    max-width: 45rem;
    margin: auto;
    padding: 2rem;
}

.demo-flex-item {
    flex: 1 1 calc(50% - 1rem); /* Flex-basis for half-width items */
    display: flex;
    flex-direction: column;
    gap: 0.5rem; 
}

.demo-flex-item.full-width {
    flex: 1 1 100%; /* Full-width elements */
}

.demo input, .demo select {
    width: 100%;
}

.full-width {
    width: 100%;
}
}